body {
  text-align: center;
  font-family: Arial;
  background-color: lightblue;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
}
